@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

@import "tailwindcss";
@theme {
  --color-primary: #0a192f; /* Orange */
  --color-secondary: #f97316; /* Dark background */
  --color-tertiary: #54d6bb; /* Slightly lighter dark */
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0a192f;
  border-radius: 10px;
  background-color: #0a192f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(19, 123, 131, 0.482);
  border-radius: 10px;
}

/* Handle on hover */
/* Loader animation */

.first{
  animation :first 1s infinite;
}
@keyframes first{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0.5;
  }
}

.second{
  animation :second 1s infinite;
}
@keyframes second{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0.5;
  }
}

.third{
  animation :third 1s infinite;
}
@keyframes third{
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.5;
  }
}

input,textarea{
  height:40px;
  border:1px solid gray;
  width: 100%;
  padding-left:20px
}
textarea{
  height: 100px;
  padding-top: 20px;
}
input:focus{
  outline:none;
  border:2px solid black;

}